<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RiftConnection" connectionString="Data Source=DESKTOP-6A5T836\DEV_DB;Initial Catalog=RiftEstoque;Integrated Security=True;Pooling=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>